.logo{
    max-width:235px;
    max-height:193px;
    width: auto;
    height: auto;
  
}
span{
color:rgb(73, 71, 71);
}
.servicos{
    padding: 1em;
    margin-bottom: 3%;
    overflow: hidden;
} 
.servicos > a > article {
   float: left;
   width: 20%;
   margin: 1em;
   text-align: center;
   padding: 0.5em;
   height: 400px;
   box-shadow: 3px 2px 2px 0 #707070; 
   list-style-type: none; 
}
.servicos > a > article > img{
   width: 80%;
   margin-top: 20px;
   
}
.servico{
   background-color: #ec407a ;
   border-radius: 20px;
}
article > p{
    font-size: 1.6em;
    color: aliceblue;

}
